.header {
  width: 100%;
  text-align: center;
}
.orders {
  nav {
    margin-top: 2rem;
    ul {
      // display: flex;
      // flex-wrap: wrap;
      // align-items: center;
      display: grid;
      grid-template-columns: repeat(8, auto);
      gap: 2px;
      height: 20px;
      li {
        font-style: 15px;
        color: 222px;
        cursor: pointer;
        transition: all 0.1s;
        &:hover {
          font-weight: 600;
          border-bottom: 1px solid #222;
        }
      }
    }
  }
  table {
    width: 100%;
    margin-top: 1rem;
    thead {
      border: 1px solid #222;
      background: #222;
      color: #fff;
    }
    td {
      text-align: center;
      svg {
        width: 27px;
        height: 27px;
        cursor: pointer;
        stroke: $blue-color;
        &:hover {
          stroke: $dark-blue-color;
        }
      }
    }
  }
  &__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    text-align: center;
    background: #eee;
    color: #222;
    img {
      width: 30px;
      height: 30px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  &__paid {
    img {
      width: 25px;
    }
  }
}
.active {
  font-weight: 600;
  border-bottom: 1px solid #222;
}
